body {
    background-image: url('/_imagens/pexels-tima-miroshnichenko-6615076.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;

}



/*ody {
    background-color: rgb(194, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: justify;
    text-indent: 5px;
}*/
section#caixa-conversora {
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308);

}

select#opcao1 {
    text-align: center;
    padding: auto;
    display: block;
    position: relative;
    left: 10px;
    top: 10px;
    font: normal 14pt Arial;
    
}

select#opcao2 {
    text-align: center;
    padding: auto;
    display: block;
    position: relative;
    left: 385px;
    top: -36px;
    font: normal 14pt Arial;

}
input#ivalor1 {
    position: relative;
    left: -188px;
    top: 20px;
    font: normal 12pt Arial;
}

legend#converter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    color: rgba(65, 67, 68, 0.5);
}



/*article#artigo-1{
    width: 400px;
    
    margin: -20px auto 0px auto;
    padding: 10px 10px 10px 10px;
    float: left;
    
}

article#artigo-2{
    width: 400px;
    
    margin: -20px auto 0px auto;
    padding: 10px 10px 10px 10px;
    float: left;
}

article#artigo-3{
    width: 400px;
    
    margin: -20px auto 0px auto;
    padding: 10px 5px 55px 5px;
    float: left;
    padding-right: 15px;
}

article#artigo-4{
    width: 400px;
    
    margin: 188px auto 0px auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: -457px;
    top: 16px;
}

article#artigo-5{
    width: 400px;
    
    margin: -20px auto 0px auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: -37px;
    top: -487px;
    
}

article#artigo-6{
    width: 400px;
    margin: -20px auto 0px auto;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 383px;
    top: -1003px;
    
}*/

section#info-conteudo{
    background-color: white;
    padding-top: 300px;
    padding-bottom: 200px;
    /*background-color: #768386;*/
    border-radius: 10px;
    /*padding: 5px;*/
    margin: center;
    position: relative;
    
    
    top: 800px;

}
section#roda-pe{
    background-image: url('/_imagens/pexels-lumn-167682.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
}

 div#res {
     color: blue;
     font-size: normal 50pt Arial;
}
input#botao{
    font-size: Normal, 18pt Arial;
}

