body {
    background-color: rgb(194, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: justify;
    text-indent: 5px;

    
}
nav#menu {
    box-shadow: 3px 3px 3px rgba(10, 70, 110, 0.5);
    padding: 20px 40px 50px 40px;
    background-color: rgb(121, 160, 160);
    margin: 20px 500px 0px 50px;
    display: block;
    position: relative;
    left: 250px;
    top: 17px;
}
nav#menu h2 {
    padding: 5px 5px 5px 0px;
    margin: 5px 310px 5px 5px;
    display: block;
    position: relative;
    left: 150px;
    top: 18px;
}

nav#menu h3#m1 {
    padding: auto;
    display: block;
    position: relative;
    left: 100px;
    top: 18px;
}

nav#menu h3#m2 {
    padding: auto;
    display: block;
    position: relative;
    left: 520px;
    top: -16px;

}

legend#converter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    color: rgba(65, 67, 68, 0.5);
}



article#artigo-1{
    width: 400px;
    background-color:#768386;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    float: left;
    
}

article#artigo-2{
    width: 400px;
    background-color:#768386;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    float: left;
}

article#artigo-3{
    width: 400px;
    background-color:#768386;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 5px 55px 5px;
    float: left;
    padding-right: 15px;
}

article#artigo-4{
    width: 400px;
    background-color:#768386;
    margin: 188px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    display: block;
    position: relative;
    left: -457px;
    top: 17px;
}

article#artigo-5{
    width: 400px;
    background-color:#768386;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    display: block;
    position: relative;
    left: -37px;
    top: -487px;
    
}

article#artigo-6{
    width: 400px;
    background-color:#768386;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
    display: block;
    position: relative;
    left: 383px;
    top: -1003px;
    
}

div#caixa-texto {
    display: block;
    position: relative;
    top: 1000px;

}